.idea/

src/testing/models/
src/testing/testvid/
src/**/*.jpeg
src/**/*.jpg
src/**/*.JPG

resources/video/
resources/testing/
resources/model/**/*.weights
resources/model/**/*.h5
resources/model/**/*.conv

resources/images/*
!resources/images/valve

venv/
